
button{
  background-color: gainsboro;
  color: white;
  border: 1px solid white; 
  display: inline-block;
  width: 150px;
  padding-top: .5%;
  padding-bottom:.5%;
  border-radius: 6px;
  font-size: 14px;
  position:relative;
  cursor: pointer;
    transition: ease-out 0.2s;
}


button:hover{
  box-shadow: inset 200px 0 0 0 #98D6F0;
  }


.buttonGG{
  background-color: gainsboro;
  color: white;
  border: 1px solid white; 
  display: inline-block;
  width: 125px;
  padding-top: .5%;
  padding-bottom:.5%;
  border-radius: 6px;
  font-size: 14px;
  position:relative;
  cursor: pointer;
    transition: ease-out 0.2s;
}


.buttonGG:hover{
  box-shadow: inset 200px 0 0 0 #63B891;
  }

  #searchbutton{
    background-color: gainsboro;
    color: white;
    border: 1px solid white; 
    display: inline-block;
    width: 150px;
    padding-top: .5%;
    padding-bottom:.5%;
    border-radius: 6px;
    font-size: 14px;
    position:relative;
    cursor: pointer;
      transition: ease-out 0.2s;
  }


  #searchbutton:hover{
    box-shadow: inset 200px 0 0 0 #CDB3CE;
    }

   



.button-1{
    background-color: #63B891;
    color: white;
    border: 1px solid white; 
    display: inline-block;
    width: 150px;
    padding-top: .5%;
    padding-bottom:.5%;
    border-radius: 6px;
    font-size: 14px;
    position:relative;
    cursor: pointer;
    margin-top: 3%;
    transition: ease-out 0.2s;
    
  }
  .button-1:hover{
  box-shadow: inset 200px 0 0 0 gainsboro;
  }
  
  .button-2{
    background-color: #FFC533;
    color: white;
    border: 1px solid white; 
    display: inline-block;
    width: 150px;
    padding-top: .5%;
    padding-bottom:.5%;
    border-radius: 6px;
    font-size: 14px;
    position:relative;
    cursor: pointer;
     margin-top: 3%;
    transition: ease-out 0.2s;
    
  }
  .button-2:hover{
  box-shadow: inset 200px 0 0 0 gainsboro;


  }
  

  .button-3{
    background-color: #CDB3CE;
    color: white;
    border: 1px solid white; 
    display: inline-block;
    width: 150px;
    padding-top: .5%;
    padding-bottom:.5%;
    border-radius: 6px;
    font-size: 14px;
    position:relative;
    cursor: pointer;
    margin-top: 3%;
    transition: ease-out 0.2s;
    
  }
  .button-3:hover{
  box-shadow: inset 200px 0 0 0 gainsboro;


  }
  
  .button-4{
    background-color: #98D6F0;
    color: white;
    border: 1px solid white; 
    display: inline-block;
    width: 150px;
    padding-top: .5%;
    padding-bottom:.5%;
    border-radius: 6px;
    font-size: 14px;
    position:relative;
    cursor: pointer;
     margin-top: 3%;
    transition: ease-out 0.2s;
    
  }
  .button-4:hover{
  box-shadow: inset 200px 0 0 0 gainsboro;
  }


  .action-btn{
    background-color: #FFC533;
    color: white;
    border: 1px solid; 
    display: inline-block;
    width: 50px;
    padding-top: .5%;
    padding-bottom:.5%;
    border-radius: 6px;
    font-size: 14px;
    position:relative;
    cursor: pointer;
      transition: ease-out 0.2s;
  }

  .action-btn:hover{
    box-shadow: inset 200px 0 0 0 gainsboro;
    }
  